:root {
    --spook: #100;
    --jello: #fc0;
    --rubrum: #f00;
    font-family: 'MedievalSharp', cursive;
}

html{
    box-sizing: border-box;
    font-weight: 900;
    color: var(--spook);
    font-family: sans-serif;
}

body{
    background: linear-gradient(to right, var(--rubrum), var(--spook));
    margin: 20px;
}

.wrapper{
    display: grid;
    gap: 20px;
}

.top {
    display: grid;
    gap: 20px;
    grid-template-areas:
    "party party cta1"
    "party party cta2"
}

.party{
    grid-area: party;
    min-height: 450px;
    background-image: url('../img/spooky.gif');
    background-size: cover;
    background-position: top;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.party > * {
    background: var(--jello);
    padding: 5px;
}

.cta {
    background: var(--jello);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.cta1{
    grid-area: cta1;
}

.cta2{
    grid-area: cta2;
}

.price{
    font-size: 2rem;
    font-weight: 300;
}

.cta p {
    margin: 0;
}

button {
    background: var(--jello);
    border: 0;
    padding: 20px;
}

/*Menyu*/

.menu ul {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu a {
    background: var(--jello);
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
}
/*hayd menyu baton*/
[aria-controls="menu-list"] {
    display: none;
}

/*feetyher Secshön*/
.features{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.feature {
    background: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.feature .icon {
    font-size: 3rem;
}

.feature p {
    color: rgba(0, 0, 0, 0.5);
}

.about{
    background: #fff;
    padding: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: 400px 1fr;
    align-content: center;
}

.gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.gallery img {
    width: 100%;
}

.gallery h2 {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
}

.gallery h2::before {
    display: block;
    content: "";
    height: 10px;
    background: linear-gradient(to left, var(--jello), transparent);
}
.gallery h2::after{
    display: block;
    content: "";
    height: 10px;
    background: linear-gradient(to right, var(--jello), transparent);
}